$title-color: cadetblue;

// 元素選擇器
h2 {
  color: $title-color;
}

// 類選擇器
.multiline {
  // composes: CSS Modules Composition, compose class names from other CSS Modules. Extending works only for local-scoped selectors and only if the selector is a single class name.
  // class="multiline" 以此方式使用無法套用 composes 樣式。
  // :class="baseStyleVue.multiline" 須以此方式使用。
  composes: text-blue text-bold from './composes.module.scss';
  white-space: pre-wrap;
}
