@import 'test';

$title-color: cadetblue;

// 元素選擇器
h2 {
  // color: $title-color;
  color: $test-color;
}

// 類選擇器
.multiline {
  // composes: compose class names from other CSS Modules.
  composes: text-blue text-bold from './composes.module.scss';
  white-space: pre-wrap;
}
